.projetos {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 60px;
    padding: 250px 20px;
}

.projetos h2 {
    color: #fff;
    font-size: 3rem;
}

.projetos img {
    border-radius: 10px;
    width: 80%;
}

.projetos p {
    color: #c2c2c2;
}

.projetos h3 {
    color: #fff;
}


.projetos-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 120px;
    gap: 10%;
}

.projeto-conteudo {
    display: flex;
    flex-direction: column;
     gap: 140px;
}

.projeto-conteudo h3 {
    font-size: 2rem;
}


.redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.projeto-conteudo a {
    background: #111;
    color: #fff;
    padding: 16px 20px;
    border-radius: 4px;
    font-size: 1.2rem;
}

.projetos h2::before {
    content: "";
    position: relative;
    display: block;
    width: 80px;
    border-radius: 4px;
    height: 4px;
    background: linear-gradient(to right, #eb5e28, #fca311);
    transition: 0.3s ease;
}

.projetos h2:hover::before {
    width: 125px;
}




